<!-- tab-pane: password -->
<div class="tab-pane" id="password">
    <!-- form password -->
    <%= form_for @user, :html => {:class => "panel form-horizontal form-bordered"} do |f| %>
        <div class="panel-body pt0 pb0">
            <div class="form-group header bgcolor-default">
                <div class="col-md-12">
                    <h4 class="semibold text-primary mt0 mb5">Password</h4>
                    <p class="text-default nm">Change your password or recover your current one.</p>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">Current password</label>
                <div class="col-sm-5">
                    <%= f.password_field :current_password, label:false, placeholder:"", :class => "form-control" %>
                    <p class="help-block"><a href="javascript:void(0);">Forgot password?</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">New password</label>
                <div class="col-sm-5">
                    <%= f.password_field :password, label:false, placeholder:"", :class => "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Verify password</label>
                <div class="col-sm-5">
                    <%= f.password_field :password_confirmation, label:false, placeholder:"", :class => "form-control" %>
                </div>
            </div>
        </div>
         <div class="panel-footer pt15 pb15">
            <div class="col-md-6 col-md-offset-3">
                 <%= f.submit "Save changes", class: "btn btn-block btn-primary btn-lg" %>
            </div>
        </div>
    <% end %>
</div>
<!--/ tab-pane: password -->