<%= render 'shared/backend_head' %>

    <body>

        <%= render 'shared/header_member' %>

        <!-- START Template Main -->
        <section id="main" role="main">
            <!-- START Template Container -->

            <%= render 'user_index_header'%>

            <!-- Page Header -->
            <div class="page-header page-header-block pt40 pb60" style="margin-bottom: 2px; box-shadow: 3px 3px 3px #ccc;">
                 <div class="page-header-section">
                    <h4 class="text-center bold">
                        <span class="ico-search text-primary mr5"></span> Search Our Members
		                    </h4>
		                    <div class="toolbar">
		                        <div class="col-md-4 col-md-offset-4">
		                            <div class="has-icon">
		                                <input type="search" class="form-control input-lg" name="shuffle-filter" id="shuffle-filter" placeholder="Search people by name">
		                                <i class="ico-search form-control-icon"></i>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- Page Header -->

		            <!-- START Template Main -->
		            <section id="members" class="section" style="min-height: 800px; position: relative; background: #fff;">
                
		                <div class="overlay light pattern pattern13"></div>
		                <!-- START Template Container -->

		                <!-- START Template Container -->
		                <div class="container">
                

		                <!-- START Row -->
		                <div class="row" id="shuffle-grid">
                    
                    <% @users.each do |user| %>

                      <div class="col-sm-6 col-md-4 shuffle">
                          <div class="panel widget">
                              <div class="table-layout nm">
                                  <div class="col-xs-5 text-center"><img src="<%= user.avatar %>" width="100%"></div>
                                  <div class="col-xs-7 valign-middle">
                                      <div class="panel-body">
                                          <h5 class="semibold mt0 mb5"><a href="<%= "users/#{user.friendly_id}"%>"><%= user.full_name %></a></h5>
                                          <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i>  <%= user.level %></p>
                                          <p class="text-muted nm"><i class="ico-location2 mr5"></i>  
                                              <%= user.user_detail.try(:location_description) %>
                                              </a>
                                          </p>
                                          <!-- meta -->
                                          <p class="meta mb0 mt15">
                                              <!-- <span class="text-muted mr5 ml5">&#8226;</span> -->
                                              <% unless user.user_detail.linkedin.blank? %>
                                                  <%= link_to user.linkedin, target: "_blank" do %>
                                                      <img src="image/social/linkedin_circle-128.png" height="40" alt=""/>
                                                      <% end %>
                                              <% else %>
                                                      <img src="http://www.almaskorotana.co.uk/images/socmedlinkedin.png" height="40" alt=""/>
                                              <% end %>
                                              
                                              <a href="#" class="">
                                                  <img src="image/social/email_circle-128.png" height="40" alt=""/><%#= user.email %>
                                              </a>
                                          </p>
                                          <!--/ meta -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                    <% end %>
                  </div>
                </div>
                <!--/ END Row -->
              </div>
            </div>
          </div>
        </div>
        <!--/ END Template Container -->

        <!-- START To Top Scroller -->
        <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
        <!--/ END To Top Scroller -->

      </section>
      <!--/ END Template Main -->

      <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
      <!-- Library script : mandatory -->
      <script type="text/javascript" src="/library/jquery/js/jquery.min.js"></script>
      <script type="text/javascript" src="/library/jquery/js/jquery-migrate.min.js"></script>
      <script type="text/javascript" src="/library/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/library/core/js/core.min.js"></script>
      <!--/ Library script -->

      <!-- App and page level script -->
      <script type="text/javascript" src="/plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
      <script type="text/javascript" src="/javascript/app.min.js"></script>
      
      
      <script type="text/javascript" src="/plugins/shuffle/js/jquery.shuffle.min.js"></script>
      
      <script type="text/javascript" src="/javascript/pages/people.js"></script>
      
      <!--/ App and page level script -->
      <!--/ END JAVASCRIPT SECTION -->
    </body>
    <!--/ END Body -->
</html>