<%= render 'shared/backend_head' %>

    <body>
        <% if current_user %>
        <%= render 'shared/header_member' %>
		<% else %>
		<%= render 'shared/header_visitor' %>
		<% end %>

        <!-- START Template Main -->
        <section id="main" role="main">
            <!-- START Template Container -->

            <%= render 'user_charterholder_header'%>

            <!-- Page Header -->
            <div class="page-header page-header-block pt40 pb60" style="margin-bottom: 2px; box-shadow: 3px 3px 3px #ccc;">
                 <div class="page-header-section">
                    <h4 class="text-center bold">
                        <span class="ico-search text-primary mr5"></span> Search Charterholders
                    </h4>
                    <div class="toolbar">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="has-icon">
                                <input type="search" class="form-control input-lg" name="shuffle-filter" id="shuffle-filter" placeholder="Search people by name">
                                <i class="ico-search form-control-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header -->

            <!-- START Template Main -->
            <section id="members" class="section" style="min-height: 800px; position: relative; background: #fff;">
                
                <div class="overlay light pattern pattern13"></div>
                <!-- START Template Container -->

                <!-- START Template Container -->
                <div class="container">
                

                <!-- START Row -->
                <div class="row" id="shuffle-grid">
                    
                    <% @lawyers.each do |user| %>

                        <div class="col-sm-6 col-md-4 shuffle">
                            <div class="panel widget">
                                <div class="table-layout nm">
                                    <div class="col-xs-5 text-center"><img src="<%= user.avatar %>" width="100%"></div>
                                    <div class="col-xs-7 valign-middle">
                                        <div class="panel-body">
                                            <h5 class="semibold mt0 mb5"><a href="<%= "users/#{user.friendly_id}"%>"><%= user.full_name %></a></h5>
                                            <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i>  <%= user.user_detail.try(:year_of_bar_exam) %></p>
                                            <p class="text-muted nm"><i class="ico-location2 mr5"></i>  
                                                <%= user.user_detail.try(:location_description) %>
                                                </a>
                                            </p>
                                            <!-- meta -->
                                            <p class="meta mb0 mt15">
                                                <!-- <span class="text-muted mr5 ml5">&#8226;</span> -->
                                                <% unless user.user_detail.linkedin.blank? %>
                                                    <%= link_to user.linkedin, target: "_blank" do %>
                                                        <img src="image/social/linkedin_circle-128.png" height="40" alt=""/>
                                                        <% end %>
                                                <% else %>
                                                        <img src="http://www.almaskorotana.co.uk/images/socmedlinkedin.png" height="40" alt=""/>
                                                <% end %>
                                                
                                                <a href="#" class="">
                                                    <img src="image/social/email_circle-128.png" height="40" alt=""/><%#= user.email %>
                                                </a>
                                            </p>
                                            <!--/ meta -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% end %>
                    
                </div>
                <!--/ END Row -->
            </div>
            <!--/ END Template Container -->

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->

        </section>
        <!--/ END Template Main -->


        
            <!-- bottom footer -->
            <div class="footer-bottom" style="height: 200px; background: #222; padding: 30px 20px 20px; z-index: 99999; border: 1px solid #333;">
                <!-- copyright -->
               <div class="container" style="border-top: 5px solid #444; border-bottom: 1px solid #333; padding-top: 15px;">
                    <div class="row">
                        <div class="col-sm-8 gf_montserrat thin">
                             <h5 class="text-muted thin gf_muli mt5 mb5">
                                <span class="ico-share22 mr5 text-success"></span>
                                <span class="mr5">Like Us.</span> 
                                <span class="mr5">Share Us.<span class="mr5">
                                Follow Us.
                            </h5>
                             <ul class="inline-li social_64 ml0 pl0 mt15">
                                <li><img src="../image/social/youtube_circle-128.png"/></li>
                                <li><img src="../image/social/twitter_circle-128.png"/></li>
                                <li><img src="../image/social/slideshare_circle-128.png"/></li>
                                <li><img src="../image/social/linkedin_circle-128.png"/></li>
                                <li><img src="../image/social/instagram_circle-128.png"/></li>
                                <li><img src="../image/social/facebook_circle-128.png"/></li>
                            </ul>
                            <!--/ copyright -->
                        </div>
                         <div class="col-sm-4 gf_montserrat text-right">
                            <p class="text-muted bold mb5">BLACKCFA</p>
                            <!-- copyright -->
                            <ul class="unstyled gf_muli">
                                <li>Our Team</li>
                                <li>Partnerships</li>
                                <li>Contact Us</li>
                                <li>Terms and Policies</li>
                            </ul>
                            <!--/ copyright -->
                        </div>
                    </div>
                </div>
                <!--/ container -->
            </div>
            <!--/ bottom footer -->
        </section>
        <!--/ END Template Main -->

        <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
        <!-- Library script : mandatory -->
        <script type="text/javascript" src="/library/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="/library/jquery/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/library/core/js/core.min.js"></script>
        <!--/ Library script -->

        <!-- App and page level script -->
        <script type="text/javascript" src="/plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
        <script type="text/javascript" src="/javascript/app.min.js"></script>
        
        
        <script type="text/javascript" src="/plugins/shuffle/js/jquery.shuffle.min.js"></script>
        
        <script type="text/javascript" src="/javascript/pages/people.js"></script>
        
        <!--/ App and page level script -->
        <!--/ END JAVASCRIPT SECTION -->
    </body>
    <!--/ END Body -->
</html>

