<!-- START Right nav -->
<ul class="nav navbar-nav navbar-right">
    <!-- Profile dropdown -->
    <li class="dropdown profile">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <span class="avatar"><img src="<%= @user.avatar %>" class="img-circle" alt="" /></span>
                <span class="text hidden-xs hidden-sm pl5"><%= @user.full_name %></span>
                <span class="caret"></span>
            </span>
        </a>
        <ul class="dropdown-menu" role="menu">
         
           <li class="divider"></li>
            <li><a href="<%= users_path(@user) %>"><span class="icon"><i class="ico-user-plus2"></i></span> BlackCFA</a></li>
            <li><a href="<%= user_path(@user) %>"><span class="icon"><i class="ico-user"></i></span> My Profile</a></li>
            <li><a href="<%= edit_user_path(@user) %>"><span class="icon"><i class="ico-cog4"></i></span> Edit Profile</a></li>
            <li class="divider"></li>
            <li>
                <%= link_to session_path(current_user.id), method: :delete do %>
                <span class="icon"><i class="ico-exit"></i></span> Log Out
                <% end %>
            </li>
            
        </ul>
    </li>
    <!-- Profile dropdown -->
</ul>
<!--/ END Right nav -->